* {font-family: 'Roboto', sans-serif;}

body{
    background-color: #182a36;
}
/*
      Class selectors for all content within the a class
 */

 .Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 50px;
    height: 75px;
    background-color: #237c7c;
    position: relative;
}

a {
    text-decoration: none;
}

nav {
    padding-top: 10px;
    margin-top: 15px;
}
.Button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    transition: opacity 0.25s;
    margin-right: 25px;
}

.Button:hover {
    background-color: #3e90cb;
    transition: background-color 0.25s;
}

.Button:active {
  opacity: 0.7;
}

section{
    background-color: #425663;
    color: rgb(186, 186,186);
    align-items: center;
    text-align: center;
}
.description{
    text-align: left;
    overflow: hidden;
    padding-left: 20px;
    line-height: 30px;
    font-size: 18px;
}
img{
    float: left;
    width: 200px;
    height: 200px;
    background-color: #fff;
    margin-left: 20px;
    margin-top: 0;
    box-shadow: -10px 30px 30px #000;
}
#adam{
    margin: 20px;
    border:2px solid;
    border-color: #fff;
    height: 300px;
    box-shadow: 0 0 40px #000;
}
#aleks{
    margin: 20px;
    border:2px solid;
    border-color: #fff;
    height: 300px;
    box-shadow: 0 0 40px #000;
}
#jon{
    margin: 20px;
    border:2px solid;
    border-color: #fff;
    height: 300px;
    box-shadow: 0 0 40px #000;
}
#affat{
    margin: 20px;
    border:2px solid;
    border-color: #fff;
    height: 300px;
    box-shadow: 0 0 40px #000;
}
