body{
    background-color: #182a36;
}
* {font-family: 'Roboto', sans-serif;}

.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 50px;
    height: 75px;
    background-color: #237c7c;
    position: relative;
}

a {
    text-decoration: none;
}

nav {
    padding-top: 10px;
}
.Button {
    margin-top: 15px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    transition: opacity 0.25s;
}


.Button:hover {
  opacity: 0.85;
    background-color: #0081D5;
}

.Button.hover-slide-up::before {
    bottom: 0; left: 0; right: 0;
    height: 0%; width: 100%;
}
.Button.hover-slide-up:hover::before {
    height: 100%;
}

.Button:active {
  opacity: 0.7;
}

#Button1:hover {
    background-color: #3e90cb;
    transition: background-color 1s;
}
#Button2:hover {
    background-color: #3e90cb;
    transition: background-color 1s;
}

#Button3:hover {
    background-color: #3e90cb;
    transition: background-color 1s;
}

#Button4:hover {
    background-color: #3e90cb;
    transition: background-color 1s;
}

h1{
    font-size: xx-large;
    padding: 10px;
}
section{
    color: rgb(186, 186,186);
    align-items: center;
    text-align: center;
}
.description{
    text-align: left;
    overflow: hidden;
    padding-left: 20px;
    line-height: 35px;
    font-size: 18px;
}
section img{
    float: left;
    width: 200px;
    height: 200px;
    background-color: #fff;
    margin-left: 20px;
    margin-top: 0;
    box-shadow: -10px 30px 30px #000;
}
#adam{
    margin: 20px;
    border:2px solid;
    border-color: #fff;
    height: 300px;
    box-shadow: 0 0 40px #000;
    background-color: #425663;
}
#aleks{
    margin: 20px;
    border:2px solid;
    border-color: #fff;
    height: 300px;
    box-shadow: 0 0 40px #000;
    background-color: #425663;
}
#jon{
    margin: 20px;
    border:2px solid;
    border-color: #fff;
    height: 300px;
    box-shadow: 0 0 40px #000;
    background-color: #425663;
}
#affat{
    margin: 20px;
    border:2px solid;
    border-color: #fff;
    height: 300px;
    box-shadow: 0 0 40px #000;
    background-color: #425663;
}
